node-red/ChatGPT External Plugin Demo2.json
[
    {
        "id": "5a7bd05a8fdb782c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a2f5269b1078a40",
        "type": "tab",
        "label": "Ask ChatGPT a Question",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "845fc0d6c01a7d33",
        "type": "subflow",
        "name": "SentantEvent",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "1cf16961f071a946"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1680,
                "y": 100,
                "wires": [
                    {
                        "id": "59f16defd6c6aac4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "event",
                "type": "str",
                "value": "chatgpt_response"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1680,
            "y": 160,
            "wires": [
                {
                    "id": "de70d7b235219484",
                    "port": 0
                },
                {
                    "id": "5c942cd10c61a838",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0642542a5da9d32f",
        "type": "subflow",
        "name": "SentantLoad",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 60,
                "wires": [
                    {
                        "id": "38f07274ef222c8f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 860,
                "y": 120,
                "wires": [
                    {
                        "id": "74a31d76bf068544",
                        "port": 0
                    }
                ]
            },
            {
                "x": 860,
                "y": 200,
                "wires": [
                    {
                        "id": "74a31d76bf068544",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "home_dir",
                "type": "str",
                "value": "/home/roycdavies/Development/Reality2"
            },
            {
                "name": "yaml_file",
                "type": "str",
                "value": "/Reality2/python/chatgpt_question.yaml"
            },
            {
                "name": "openai_api_key",
                "type": "str",
                "value": "/OPENAI_API_KEY.txt"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1280,
            "y": 160,
            "wires": [
                {
                    "id": "f39bdd54a89898c1",
                    "port": 0
                },
                {
                    "id": "1735c09b18546eca",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "800b653b02783641",
        "type": "subflow",
        "name": "SentantSend",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 100,
                "wires": [
                    {
                        "id": "8237109d521cf0e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 60,
                "wires": [
                    {
                        "id": "a62d20d2ed170d13",
                        "port": 0
                    }
                ]
            },
            {
                "x": 940,
                "y": 140,
                "wires": [
                    {
                        "id": "a62d20d2ed170d13",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "event",
                "type": "str",
                "value": "chatgpt"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 1260,
            "y": 120,
            "wires": [
                {
                    "id": "e37f5314d4b4b659",
                    "port": 0
                },
                {
                    "id": "e05a51ca169c4aff",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "25d2111070da5d9e",
        "type": "subflow",
        "name": "SwarmLoad",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "2f7d6f4e7116f88e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 180,
                "wires": [
                    {
                        "id": "0edbcb8c78657ad6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 260,
                "wires": [
                    {
                        "id": "0edbcb8c78657ad6",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "home_dir",
                "type": "str",
                "value": "/home/roycdavies/Development/Reality2"
            },
            {
                "name": "yaml_file",
                "type": "str",
                "value": "/Reality2/python/chatgpt_question.yaml"
            },
            {
                "name": "openai_api_key",
                "type": "str",
                "value": "/OPENAI_API_KEY.txt"
            }
        ],
        "meta": {
            "keywords": "Reality2"
        },
        "color": "#DDAA99",
        "status": {
            "x": 1160,
            "y": 220,
            "wires": [
                {
                    "id": "206860f96b406cc0",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b0f951c25b9c0e67",
        "type": "graphql-server",
        "name": "reality2",
        "endpoint": "http://localhost:4000/reality2",
        "token": ""
    },
    {
        "id": "3a6f6ce74a5a5468",
        "type": "websocket-client",
        "path": "ws://localhost:4000/reality2/websocket",
        "tls": "",
        "wholemsg": "false",
        "hb": "30",
        "subprotocol": ""
    },
    {
        "id": "d61516c0f84e3642",
        "type": "ui-base",
        "name": "Reality2",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false
    },
    {
        "id": "7f94896648f5adeb",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        }
    },
    {
        "id": "2c9b56ff96f06a76",
        "type": "ui-page",
        "name": "Reality2",
        "ui": "d61516c0f84e3642",
        "path": "/chatgpt",
        "icon": "home",
        "layout": "grid",
        "theme": "7f94896648f5adeb",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4074ed4f7a1d2d7c",
        "type": "ui-group",
        "name": "Reality2",
        "page": "2c9b56ff96f06a76",
        "width": "6",
        "height": "1",
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4db9013399b3fbed",
        "type": "websocket out",
        "z": "845fc0d6c01a7d33",
        "name": "Reality2 Websocket",
        "server": "",
        "client": "3a6f6ce74a5a5468",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "5407a74e7952c088",
        "type": "websocket in",
        "z": "845fc0d6c01a7d33",
        "name": "Reality2 Websocket",
        "server": "",
        "client": "3a6f6ce74a5a5468",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "6433426779d4ce5d"
            ]
        ]
    },
    {
        "id": "6433426779d4ce5d",
        "type": "json",
        "z": "845fc0d6c01a7d33",
        "name": "Convert JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 100,
        "wires": [
            [
                "59f16defd6c6aac4"
            ]
        ]
    },
    {
        "id": "59f16defd6c6aac4",
        "type": "function",
        "z": "845fc0d6c01a7d33",
        "name": "Interpret Response",
        "func": "// Get the data and sentantID\nlet data = msg.payload;\nlet sentantid = flow.get(\"$parent.sentantid\");\nlet the_event = env.get(\"event\");\n\n// This gets called during the join, subscription and subsequent return of the message from ChatGPT.\n// The data.ref field helps determine which stage of the process we are in.\nif (data)\n{\n    if (data.ref == \"join\")\n    {\n        // The join command was set in the Subscribe Button - this is the next command for the Subscription\n        let the_message = {\n            \"topic\": \"__absinthe__:control\",\n            \"event\": \"doc\",\n            \"payload\": {\n                \"query\": \"subscription {sentantEvent(id: \\\"\" + sentantid + \"\\\", event: \\\"\" + the_event + \"\\\") { event parameters sentant { id } } }\"\n            },\n            \"ref\": \"subscribe\"\n        };\n        return({payload: the_message});\n    }\n    else if (data.ref == \"subscribe\")\n    {\n        // If we have successfully subscribed, stop further messages.\n        return(null); \n    }\n    else if (data.event == \"subscription:data\")\n    {\n        // A result from Chat GPT has arrived.\n        return { payload: { chatgpt_says: data.payload.result.data.sentantEvent.parameters.chatgpt_says }};\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 100,
        "wires": [
            [
                "de70d7b235219484",
                "71ca64eea3a77ba4"
            ]
        ]
    },
    {
        "id": "1cf16961f071a946",
        "type": "template",
        "z": "845fc0d6c01a7d33",
        "name": "Join Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"topic\": \"__absinthe__:control\",\n    \"event\": \"phx_join\",\n    \"payload\": {},\n    \"ref\": \"join\"\n}",
        "output": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "4db9013399b3fbed"
            ]
        ]
    },
    {
        "id": "de70d7b235219484",
        "type": "function",
        "z": "845fc0d6c01a7d33",
        "name": "Set Status",
        "func": "if (msg.payload.ref)\n{\n    if (msg.payload.ref == \"subscribe\")\n    {\n        msg.payload = ({ fill: \"green\", text: \"Subscribed\"});\n    }\n    else\n    {\n        msg.payload = {}\n    }\n}\nelse if(msg.payload.chatgpt_says)\n{\n    msg.payload = ({ fill: \"green\", text: \"Answer Received\"});\n}\nelse\n{\n    msg.payload = {}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4be947640fcb4a82",
        "type": "catch",
        "z": "845fc0d6c01a7d33",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "5c942cd10c61a838",
                "f5e14a9af1d1d1e5"
            ]
        ]
    },
    {
        "id": "5c942cd10c61a838",
        "type": "function",
        "z": "845fc0d6c01a7d33",
        "name": "Trap Errors",
        "func": "if (msg.error)\n{\n    msg.payload = ({ fill: \"red\", text: \"Websocket Error\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f5e14a9af1d1d1e5",
        "type": "debug",
        "z": "845fc0d6c01a7d33",
        "name": "Sentant Event Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 280,
        "wires": []
    },
    {
        "id": "71ca64eea3a77ba4",
        "type": "function",
        "z": "845fc0d6c01a7d33",
        "name": "Block final answer",
        "func": "// Get the data and sentantID\nlet data = msg.payload;\n\nif (data && data.event) {\n    return msg;\n}\nelse {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "4db9013399b3fbed"
            ]
        ]
    },
    {
        "id": "74a31d76bf068544",
        "type": "graphql",
        "z": "0642542a5da9d32f",
        "name": "GraphQL - SentantLoad",
        "graphql": "b0f951c25b9c0e67",
        "format": "handlebars",
        "template": "mutation SentantLoad ($definition: String!) {\n  sentantLoad(yamlDefinition: $definition) {\n    id\n    name\n  }\n}",
        "syntax": "plain",
        "token": "",
        "showDebug": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "f39bdd54a89898c1"
            ],
            []
        ]
    },
    {
        "id": "93b721c37663f919",
        "type": "file in",
        "z": "0642542a5da9d32f",
        "name": "Read ChatGPT Question YAML File",
        "filename": "variables.yaml_filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1160,
        "y": 60,
        "wires": [
            [
                "366cbcb3705b914c"
            ]
        ]
    },
    {
        "id": "366cbcb3705b914c",
        "type": "function",
        "z": "0642542a5da9d32f",
        "name": "Insert OpenAI API Key into file",
        "func": "// Get the openai API key\nlet apiKey = flow.get(\"openai_api_key\");\n\n// Replace the text __openai_api_key__ in the file with the actual API key\nlet updatedContent = msg.payload.replace(/__openai_api_key__/g, apiKey);\n\n// Set this in the variables\nreturn {\"variables\": {\"definition\": updatedContent}};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "74a31d76bf068544"
            ]
        ]
    },
    {
        "id": "1c5c3310ccedbafc",
        "type": "file in",
        "z": "0642542a5da9d32f",
        "name": "Read OPENAI_API_KEY from file",
        "filename": "variables.openai_api_filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 60,
        "wires": [
            [
                "cb310f24b4c2aba2"
            ]
        ]
    },
    {
        "id": "cb310f24b4c2aba2",
        "type": "change",
        "z": "0642542a5da9d32f",
        "name": "Set OPENAI_API_KEY",
        "rules": [
            {
                "t": "set",
                "p": "openai_api_key",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "93b721c37663f919"
            ]
        ]
    },
    {
        "id": "38f07274ef222c8f",
        "type": "function",
        "z": "0642542a5da9d32f",
        "name": "Set up filenames",
        "func": "msg.variables = {\n    openai_api_filename: env.get(\"home_dir\") + env.get(\"openai_api_key\"),\n    yaml_filename: env.get(\"home_dir\") + env.get(\"yaml_file\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "1c5c3310ccedbafc"
            ]
        ]
    },
    {
        "id": "f39bdd54a89898c1",
        "type": "function",
        "z": "0642542a5da9d32f",
        "name": "Set Status",
        "func": "if (msg.payload.graphql)\n{\n    if (msg.payload.graphql.sentantLoad.id)\n    {\n        msg.payload = ({ fill: \"green\", text: \"Sentant ID: \" + msg.payload.graphql.sentantLoad.id });\n    }\n    else\n    {\n        msg.payload = ({ fill: \"red\", text: \"Problem with sentantLoad.\" });\n    }\n}\nelse\n{\n    msg.payload = ({ fill: \"red\", text: \"Problem with sentantLoad.\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a30b59c0c9dcebd0",
        "type": "catch",
        "z": "0642542a5da9d32f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "1735c09b18546eca",
                "bc9f9adb473072f2"
            ]
        ]
    },
    {
        "id": "bc9f9adb473072f2",
        "type": "debug",
        "z": "0642542a5da9d32f",
        "name": "Sentant Load Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "1735c09b18546eca",
        "type": "function",
        "z": "0642542a5da9d32f",
        "name": "Trap Errors",
        "func": "if (msg.error)\n{\n    msg.payload = ({ fill: \"red\", text: \"Filename Error\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a62d20d2ed170d13",
        "type": "graphql",
        "z": "800b653b02783641",
        "name": "GraphQL - SentantSend",
        "graphql": "b0f951c25b9c0e67",
        "format": "handlebars",
        "template": "mutation SentantSend ($sentantid: UUID4!, $event: String!, $parameters: Json) {\n  sentantSend(event: $event, id: $sentantid, parameters: $parameters) {\n    id\n  }\n}",
        "syntax": "mustache",
        "token": "",
        "showDebug": false,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "e37f5314d4b4b659",
                "9b3f03de440e23c4"
            ],
            []
        ]
    },
    {
        "id": "8237109d521cf0e8",
        "type": "function",
        "z": "800b653b02783641",
        "name": "Get values from Interface",
        "func": "let sentantid = flow.get(\"$parent.sentantid\");\nlet question = flow.get(\"$parent.question\");\nlet the_event = env.get(\"event\");\n\nif(sentantid) {\n    msg.variables = {\n        \"sentantid\": sentantid,\n        \"event\": the_event,\n        \"parameters\": \"\\{\\\"message\\\":\\\"\" + question + \"\\\"\\}\"\n    }\n}\nelse\n{\n    node.log(\"SentantID Error\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nif (context.get(\"errors\") === undefined) {\n    context.set(\"errors\", [])\n}",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "a62d20d2ed170d13"
            ]
        ]
    },
    {
        "id": "e37f5314d4b4b659",
        "type": "function",
        "z": "800b653b02783641",
        "name": "Set Status",
        "func": "if (msg.payload.graphql)\n{\n    if (msg.payload.graphql.sentantSend.id)\n    {\n        msg.payload = ({ fill: \"green\", text: \"Question Sent\" });\n    }\n    else\n    {\n        msg.payload = ({ fill: \"red\", text: \"Problem with sentantSend.\" });\n    }\n}\nelse\n{\n    msg.payload = ({ fill: \"red\", text: \"Problem with sentantSend.\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "65b87a14b01907df",
        "type": "debug",
        "z": "800b653b02783641",
        "name": "Sentant Send Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "e05a51ca169c4aff",
        "type": "function",
        "z": "800b653b02783641",
        "name": "Trap Errors",
        "func": "if (msg.error)\n{\n    msg.payload = ({ fill: \"red\", text: \"Filename Error\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "01bd99f03552f70c",
        "type": "catch",
        "z": "800b653b02783641",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 880,
        "y": 220,
        "wires": [
            [
                "e05a51ca169c4aff",
                "65b87a14b01907df"
            ]
        ]
    },
    {
        "id": "9b3f03de440e23c4",
        "type": "debug",
        "z": "800b653b02783641",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 20,
        "wires": []
    },
    {
        "id": "0edbcb8c78657ad6",
        "type": "graphql",
        "z": "25d2111070da5d9e",
        "name": "GraphQL - SwarmLoad",
        "graphql": "b0f951c25b9c0e67",
        "format": "handlebars",
        "template": "mutation SwarmLoad ($definition: String!) {\n  swarmLoad(yamlDefinition: $definition) {\n    sentants {\n      name id\n    }\n  }\n}",
        "syntax": "plain",
        "token": "",
        "showDebug": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "206860f96b406cc0"
            ],
            []
        ]
    },
    {
        "id": "47e80cebee9fd656",
        "type": "file in",
        "z": "25d2111070da5d9e",
        "name": "Read ChatGPT Question YAML File",
        "filename": "variables.yaml_filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "633da996d5170160"
            ]
        ]
    },
    {
        "id": "633da996d5170160",
        "type": "function",
        "z": "25d2111070da5d9e",
        "name": "Insert OpenAI API Key into file",
        "func": "// Get the openai API key\nlet apiKey = flow.get(\"openai_api_key\");\n\n// Replace the text __openai_api_key__ in the file with the actual API key\nlet updatedContent = msg.payload.replace(/__openai_api_key__/g, apiKey);\n\n// Set this in the variables\nreturn {\"variables\": {\"definition\": updatedContent}};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "0edbcb8c78657ad6"
            ]
        ]
    },
    {
        "id": "3e793077e5582383",
        "type": "file in",
        "z": "25d2111070da5d9e",
        "name": "Read OPENAI_API_KEY from file",
        "filename": "variables.openai_api_filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "3c20d51ce4c602f4"
            ]
        ]
    },
    {
        "id": "3c20d51ce4c602f4",
        "type": "change",
        "z": "25d2111070da5d9e",
        "name": "Set OPENAI_API_KEY",
        "rules": [
            {
                "t": "set",
                "p": "openai_api_key",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "47e80cebee9fd656"
            ]
        ]
    },
    {
        "id": "2f7d6f4e7116f88e",
        "type": "function",
        "z": "25d2111070da5d9e",
        "name": "Set up filenames",
        "func": "msg.variables = {\n    openai_api_filename: env.get(\"home_dir\") + env.get(\"openai_api_key\"),\n    yaml_filename: env.get(\"home_dir\") + env.get(\"yaml_file\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "3e793077e5582383"
            ]
        ]
    },
    {
        "id": "206860f96b406cc0",
        "type": "function",
        "z": "25d2111070da5d9e",
        "name": "Set Status",
        "func": "if (msg.payload.graphql)\n{\n    if (msg.payload.graphql.swarmLoad.sentants)\n    {\n        let sentantid_array = msg.payload.graphql.swarmLoad.sentants.map(obj => obj.id);\n\n        msg.payload = ({ fill: \"green\", text: \"Sentant IDs: \" + sentantid_array.join(\", \") });\n    }\n    else\n    {\n        msg.payload = ({ fill: \"red\", text: \"Problem with sentantLoad.\" });\n    }\n}\nelse\n{\n    msg.payload = ({ fill: \"red\", text: \"Problem with sentantLoad.\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "14da47203ba9f713",
        "type": "catch",
        "z": "25d2111070da5d9e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "8055c7fe5462adba",
                "996f1a35062bbe74"
            ]
        ]
    },
    {
        "id": "996f1a35062bbe74",
        "type": "debug",
        "z": "25d2111070da5d9e",
        "name": "Swarm Load Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "8055c7fe5462adba",
        "type": "function",
        "z": "25d2111070da5d9e",
        "name": "Trap Errors",
        "func": "if (msg.error)\n{\n    msg.payload = ({ fill: \"red\", text: \"Filename Error\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "156735a72414e73e",
        "type": "change",
        "z": "1a2f5269b1078a40",
        "name": "Set SentantID Parameter",
        "rules": [
            {
                "t": "set",
                "p": "sentantid",
                "pt": "flow",
                "to": "payload.graphql.sentantLoad.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e2cf1d43a0e50fd5",
        "type": "change",
        "z": "1a2f5269b1078a40",
        "name": "Set Question Parameter",
        "rules": [
            {
                "t": "set",
                "p": "question",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ab650c8b4a14738",
        "type": "subflow:845fc0d6c01a7d33",
        "z": "1a2f5269b1078a40",
        "name": "Websocket - SentantEvent",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "63b7a8686a65d451"
            ]
        ]
    },
    {
        "id": "58ee052ce507a10b",
        "type": "subflow:0642542a5da9d32f",
        "z": "1a2f5269b1078a40",
        "name": "GraphQL - SentantLoad",
        "env": [
            {
                "name": "home_dir",
                "value": "/root/Development/Reality2",
                "type": "str"
            }
        ],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "156735a72414e73e",
                "78cfb5ac01d01f04"
            ],
            []
        ]
    },
    {
        "id": "d72760760ddf9abb",
        "type": "subflow:800b653b02783641",
        "z": "1a2f5269b1078a40",
        "name": "GraphQL - SentantSend",
        "x": 590,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5d0d5c244a83d0e3",
        "type": "ui-button",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "name": "",
        "label": "Set up Sentant",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "58ee052ce507a10b"
            ]
        ]
    },
    {
        "id": "8a56eb1fe1ef7c1a",
        "type": "ui-text-input",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "name": "Question Field",
        "label": "text",
        "order": 4,
        "width": "4",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "e2cf1d43a0e50fd5"
            ]
        ]
    },
    {
        "id": "1ca8c5e4902226b6",
        "type": "ui-button",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "name": "",
        "label": "Subscribe to Sentant",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "0ab650c8b4a14738"
            ]
        ]
    },
    {
        "id": "a5ce1d716f237d97",
        "type": "ui-button",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "name": "",
        "label": "Ask ChatGPT",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 640,
        "wires": [
            [
                "d72760760ddf9abb"
            ]
        ]
    },
    {
        "id": "446659cc493fd4fc",
        "type": "ui-text",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "SentantID Output",
        "label": "SentantID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1350,
        "y": 160,
        "wires": [],
        "info": "{{msg.payload.graphql.sentantLoad.id}}"
    },
    {
        "id": "7b365b66bd66a0a6",
        "type": "ui-text",
        "z": "1a2f5269b1078a40",
        "group": "4074ed4f7a1d2d7c",
        "order": 6,
        "width": "6",
        "height": "6",
        "name": "ChatGPT Output",
        "label": "ChatGPT Output",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1350,
        "y": 480,
        "wires": [],
        "info": "{{msg.payload.chatgpt_says}}"
    },
    {
        "id": "78cfb5ac01d01f04",
        "type": "change",
        "z": "1a2f5269b1078a40",
        "name": "Interpret",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.graphql.sentantLoad.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "446659cc493fd4fc"
            ]
        ]
    },
    {
        "id": "63b7a8686a65d451",
        "type": "change",
        "z": "1a2f5269b1078a40",
        "name": "Interpet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.chatgpt_says",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 480,
        "wires": [
            [
                "7b365b66bd66a0a6"
            ]
        ]
    }
]